<div class="chefHead" #chefHead>
    <div class="chefHeadInn clearfix">
      <ul class="clearfix head">
          <li class="" routerLinkActive="Act"><a routerLink="/chef">Chefs</a></li>
          <li routerLinkActive="Act"><a routerLink="/manager">Event Managers</a></li>
        <div class="chefSearch clearfix">
          <a href="javascript:void(0)" class="chefMoreWrap">More..<i class="fa fa-caret-down"></i></a>
        </div>				
      </ul>
      <!-- <div class="chefMorePop">
          <div>
              <a href="javascript:void(0)">Option 1</a>
              <a href="javascript:void(0)">Option 1</a>
              <a href="javascript:void(0)">Option 1</a>
          </div>
      </div> -->

      <app-order-checkout></app-order-checkout>

    </div>
</div> 