<div class="cartOut">
    <div class="cartWpar">
      <a class="cartBtn clearfix cartBtnEmpty" routerLink="/payment"><b>Total 25000</b><span>Proceed to Checkout</span></a>
      <div class="cartOver">
      <h3>Starters</h3>
      <ul>
        <li><span>Add Item One</span></li>
        <li><span>Add Item One</span></li>
        <li><span>Add Item One</span></li>
        <li><span>Add Item One</span></li>
      </ul>
      <h3>Main Course</h3>
      <ul>
        <li><span>Add Item One</span></li>
        <li><span>Add Item One</span></li>
        <li><span>Add Item One</span></li>
        <li><span>Add Item One</span></li>
      </ul>	
    </div>
      <p class="promoText" (click)="openPromo()">Have a Promocode</p>				
      <div class="note noteAct" (click)="onCommentPopup()"><span>Lorem Ipsum is simply dummy text of the printing</span><i class="fa fa-comment-o"></i></div>
    </div>                  
</div>