<div class="chefHead" #cheftop>
  <div class="chefHeadInn clearfix">
    <ul class="clearfix head">
      <div class="scrTab clearfix" id="scrTap">
        <li class="Act">
            <a [ngx-scroll-to]="'#all'" [ngClass]="service.currentSection == 'All' ? 'Act' : ''">All</a>
            
          </li>
        <li *ngFor="let category of service.alldishes" 
       >
          <a [ngx-scroll-to]="'#'+category.dishType"  [ngClass]="service.currentSection == 'category.dishType' ? 'Act' : ''">{{ category.dishType }}</a>
        </li>
        <!-- <li>Menu One</li>
        <li>Menu One</li>
        <li>Menu One</li>
        <li>Menu One</li> -->
      </div>
      <div class="chefSearch">
        <input type="text" placeholder="Search">
      </div>
    </ul>
    <div class="cartOut">
      <div class="filter">
        <div class="filterTp clearfix">
          <div class="filBtn">
            <a href="javascript:void(0)" class="Act">By Golden Chefs</a>
            <a href="javascript:void(0)">Non-Veg</a>
          </div>
          <div class="">

            <angular2-multiselect [data]="menuList" [(ngModel)]="selectedItems" [settings]="settings" (onSelect)="menuSelect($event)"
              (onDeSelect)="menuDeSelect($event)" (onSelectAll)="SelectAll($event)" (onDeSelectAll)="DeSelectAll($event)">
            </angular2-multiselect>
          </div>
        </div>

        <!-- <angular2-multiselect class="loca" [data]="location" [settings]="settings"
           (onSelect)="LocationSelect($event)" (onDeSelect)="LocationDeSelect($event)"
          formControlName="location">
        </angular2-multiselect> -->
        <!-- <div class="filSeletWrap">
          <span>Option
            <a href="javascript:void(0)" class="fa fa-close"></a>
          </span>
          <span>Option
            <a href="javascript:void(0)" class="fa fa-close"></a>
          </span>
          <span>Option
            <a href="javascript:void(0)" class="fa fa-close"></a>
          </span>
          <span>Option
            <a href="javascript:void(0)" class="fa fa-close"></a>
          </span>
        </div> -->
        <p>
          <a class="modSea" (click)="openModified()">Modify your search</a>
        </p>
      </div>


      <app-order-preview></app-order-preview>

    </div>
  </div>
</div>
