<div class="chefHead" #cheftop>
  <div class="chefHeadInn clearfix">
    <ul class="clearfix head">
      <div class="scrTab clearfix" id="scrTap">
        <li [ngClass]="service.searchmenu_selection == 'favourite' ? 'Act' : ''">
          <a [ngx-scroll-to]="'#favourite'">Best Sellers</a>
        </li>
        <li [ngClass]="service.searchmenu_selection == 'starters' ? 'Act' : ''">
          <a [ngx-scroll-to]="'#starters'">Starters</a>
        </li>
        <li [ngClass]="service.searchmenu_selection == 'main' ? 'Act' : ''">
          <a [ngx-scroll-to]="'#main'">Main Course</a>
        </li>
        <li [ngClass]="service.searchmenu_selection == 'biryani' ? 'Act' : ''">
          <a [ngx-scroll-to]="'#biryani'">Rice & Biryani's</a>
        </li>
        <li [ngClass]="service.searchmenu_selection == 'dessert' ? 'Act' : ''">
          <a [ngx-scroll-to]="'#dessert'">Desserts & Beverges</a>
        </li>

      </div>
      <div class="chefSearch">
        <input type="text" placeholder="Search">
      </div>
    </ul>
    <div class="cartOut">
      <div class="filter">
        <app-filter></app-filter>
      </div>
      <app-order-preview></app-order-preview>
    </div>
  </div>
</div>
