<!--   popup's   -->
<div class="modifySearch" id="modified" #modify>

  <form [formGroup]="modifiedForm" novalidate>
    <div class="searchOut clearfix">
      <div class="searClose">
        <a (click)="onClose()">
          <i class="fa fa-close"></i>
        </a>
      </div>

      <div class="select">
        <label>Location</label>
        <angular2-multiselect class="loca" [data]="location" [settings]="settings" (onSelect)="LocationSelect($event)" (onDeSelect)="LocationDeSelect($event)"
          formControlName="location">
        </angular2-multiselect>
      </div>
      <div class="select">
        <label>Service Type</label>
        <angular2-multiselect class="loca" [data]="serviceType" [settings]="settings" (onSelect)="ServiceSelect($event)" (onDeSelect)="ServiceDeSelect($event)"
          formControlName="serviceType">
        </angular2-multiselect>
      </div>
      <div class="atten">
        <label>Attendees -
          <b>000</b> (Veg - Nonveg)</label>
        <input type="text" placeholder="000" formControlName="vegAttnd" />
        <input type="text" placeholder="000" class="non" formControlName="nonVegAttnd" />
      </div>
      <div class="select date">
        <label>Date - Time</label>
        <input type="text" placeholder="DD/MM/YY HH:MM" class="datePic" formControlName="datetime" [owlDateTime]="dt1" hour12Timer="true"
          [owlDateTimeTrigger]="dt1">
        <owl-date-time #dt1></owl-date-time>
      </div>
      <div class="select time" *ngIf="session !== ''">
        <label>You're ordering for</label>
        <div class="session"> {{ session }}</div>
      </div>
      <div class="seaBtn">
        <input type="button" value="Search" (click)="onModified(searchObj)" class="seaButton" />
      </div>

    </div>
  </form>

</div>
