<div class="payAddWrap">
    <h2 class="addslide" (click)="toggleDiv()">Address<i class="fa fa-caret-down" aria-hidden="true"></i></h2>
    
    <form [formGroup]="addForm" class="form-horizontal" (ngSubmit)="addressAdd()" novalidate>
    <div class="address clearfix" *ngIf="visible">
        <div class="addressInn">
            <label for="fullname" class="required">Full Name</label>
            <input type="text" placeholder="Full Name" class="addfild" formControlName="fullname">
        </div>
        <div class="addressInn">
            <label for="mobile" class="required">Mobile</label>
            <input type="text" placeholder="Mobile" class="addfild" formControlName="mobile">
        </div>   
        <div class="addressInn addressInnFull">
            <label for="address" class="required">Address</label>
            <textarea placeholder="Address" class="addfild addfildFull" formControlName="address"></textarea>
        </div>                       
        <div class="addressInn">
            <label for="landmark" class="required">Landmark</label>
            <input type="text" placeholder="Landmark" class="addfild" formControlName="landmark">
        </div>
        <div class="addressInn">
            <label for="city" class="required">City</label>
            <input type="text" placeholder="City" class="addfild" formControlName="city">
        </div> 
        <div class="addressInn">
            <label for="state" class="required">State</label>
            <input type="text" placeholder="State" class="addfild" formControlName="state">
        </div>
        <div class="addressInn">
            <label for="pincode" class="required">Pincode</label>
            <input type="text" placeholder="Pincode" class="addfild" formControlName="pincode">
        </div>  
        <div class="addressInn addressInnFull">
            <a href="javascript:void(0)" class="add">Save</a>
        </div>                                                            
    </div>
    </form>

</div>      