<div class="profileInn clearfix">
        <div class="profileLeft"><img src="../../assets/images/user.svg" alt=""/></div>
        <div class="profileRight clearfix">

            <div class="">

                <form [formGroup]="passwordForm" class="form-horizontal" (ngSubmit)="onPassword()" novalidate>
                <div class="userDetails">
                    <h2>Change Password</h2>
                    <div class="clearfix">
                        <label for="currentPassword" class="required">Current Password</label>
                        <input type="password" class="addfild" placeholder="Enter Current Password" class="addfild" formControlName="currentPassword"/>
                    </div>
                    <div class="clearfix">
                        <label for="newPassword" class="required">New Password</label>
                        <input type="password" class="addfild" placeholder="Enter New Password" class="addfild" formControlName="newPassword"/>
                    </div>
                    <div class="clearfix">
                        <label for="confirmPassword" class="required">Confirm Password</label>
                        <input type="password" class="addfild"  placeholder="Enter Confirm Password" class="addfild" formControlName="confirmPassword"/>
                    </div>
                    <div class="clearfix">
                        <input class="pasBtn Act" value="Submit" type="button"/>
                        <input class="pasBtn" value="Cancel" type="button" (click)="onCancel()"/>
                    </div>                                                                            
                </div>	
                </form>

            </div>
            
        </div>

</div>