<header #head>
  <section class="headInn clearfix">
    <div class="logo">
      <a href="index.html" class="logoImg"></a>
    </div>
    <div class="signWrap clearfix">
      <a (click)="openSign()">
        <span class="fa fa-user-o siIcon"></span>
      </a>
      <span class="fa fa-bars menuIcon" (click)="isCollapsed = !isCollapsed" 
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"></span>
    </div>
    <div id="collapseExample" class="navbar-collapse"  >
      <nav  [ngClass]="isCollapsed ? 'show' : ''">
        <ul class="clearfix">
          <li>
            <a [routerLink]="['/']" [ngx-scroll-to]="'#home'" [ngClass]="masterObj.currentSection == 'home' ? 'Act' : ''">Home</a>
          </li>
          <li>
            <a [routerLink]="['/']" [ngx-scroll-to]="'#howitworks'" [ngClass]="masterObj.currentSection == 'howitworks' ? 'Act' : ''">How it Works</a>
          </li>
          <li>
            <a [routerLink]="['/']" [ngx-scroll-to]="'#about'" [ngClass]="masterObj.currentSection == 'about' ? 'Act' : ''">About Us</a>
          </li>
          <li>
            <a [routerLink]="['/']"  [ngx-scroll-to]="'#choose'" [ngClass]="masterObj.currentSection == 'choose' ? 'Act' : ''">Choose Us</a>
          </li>
          <li>
            <a [routerLink]="['/']"  [ngx-scroll-to]="'#partner'" [ngClass]="masterObj.currentSection == 'partner' ? 'Act' : ''">Partners</a>
          </li>
          <li>
            <a [routerLink]="['/contact']">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</header>

<!-- header -->
