<header  #head>
  <section class="headInn clearfix">
    <div class="logo">
      <a href="index.html"  class="logoImg"></a>
    </div>
    <div class="signWrap clearfix">
      <span class="fa fa-user-o siIcon"></span>
      <span class="fa fa-bars menuIcon"></span>
    </div>
    <nav>
      <ul class="clearfix">
        <li>
          <a [ngx-scroll-to]="'#home'"  class="Act">Home</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#howitworks'">How it Works</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#about'">About Us</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#choose'">Choose Us</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#patner'">Patners</a>
        </li>
        <li>
          <a>Contact</a>
        </li>
      </ul>
    </nav>
  </section>
</header>

<!-- header -->