<div class="foodPop">
  <div class="foodPopInn">
    <div class="foodPopInnImg">
      <img src="./assets/images/addtheme.jpg" alt="" />
    </div>
    <h2>Heading Text Here..</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s,</p>
    <div class="foodCheck">
      <h3>Heading Text Here..</h3>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="check" />
          <i class="input-helper"></i>
          <span>By golden chef</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="check" />
          <i class="input-helper"></i>
          <span>By golden chef</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="check" />
          <i class="input-helper"></i>
          <span>By golden chef</span>
        </label>
      </div>
    </div>
  </div>
  <div class="foodPopBtn text-right">
    <a href="javascript:void(0)" class="foodClose" (click)="oncancel()">Cancel</a>
    <a href="javascript:void(0)" class="add" (click)="onAdd()">Add</a>
  </div>
</div>

