<div class="foodPop">
  <div class="foodPopInn">
    <div class="foodPopInnImg">
      <img src="./assets/images/addtheme.jpg" alt="" />
    </div>
    <h2> {{ dishDetails.dishName }}</h2>
    <p> {{ dishDetails.description }} </p>
    <div class="foodCheck">
      <h3>Cuisines..</h3>
      <div class="checkbox" *ngFor="let cus of dishDetails.cusines">
        <label>
          <input type="checkbox" class="check" [value]="cus" (change)="onCusChecked($event)" />
          <i class="input-helper"></i>
          <span>{{ cus }}</span>
        </label>
      </div>
         
    </div>
    <div class="foodCheck">
      <h3>Served Only For..</h3>
      <div class="checkbox" *ngFor="let ser  of dishDetails.restricted_ser">
        <label>
          <input type="checkbox" class="check" [value]="ser" (change)="onReschecked($event)" />
          <i class="input-helper"></i>
          <span> {{ ser }}</span>
        </label>
      </div>
            
    </div>
  </div>
  <div class="foodPopBtn text-right">
    <a href="javascript:void(0)" class="foodClose" (click)="oncancel()">Cancel</a>
    <a href="javascript:void(0)" class="add" (click)="onAdd()">Add</a>
  </div>
</div>