<div class="foodPop">
  <div class="foodPopInn">
    <div class="foodPopInnImg">
      <img src="./assets/images/addtheme.jpg" alt="" />
    </div>
    <h2> {{ dishDetails.Name }}</h2>
    <p> {{ dishDetails.Description }} </p>
    <div class="foodCheck">
      <h3>Cuisines..</h3>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="check" />
          <i class="input-helper"></i>
          <span>Andhra</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="check" />
          <i class="input-helper"></i>
          <span>Telangana</span>
        </label>
      </div>
     
    </div>
    <div class="foodCheck">
      <h3>Served Only For..</h3>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="check" />
          <i class="input-helper"></i>
          <span>Veg</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="check" />
          <i class="input-helper"></i>
          <span>Mostly Veg</span>
        </label>
      </div>
      
    </div>
  </div>
  <div class="foodPopBtn text-right">
    <a href="javascript:void(0)" class="foodClose" (click)="oncancel()">Cancel</a>
    <a href="javascript:void(0)" class="add" (click)="onAdd()">Add</a>
  </div>
</div>

