<div class="resultInn clearfix">
  
    <div class="resultWrap">
      <h2>Heading Text Here...</h2>
      <ul class="">

        <li>
          <div class="chefCta clearfix" (click)="chefProfile()">
              <div class="chefImg"><img src="../../../assets/images/chef-de.png" alt="" /></div>
              <div class="chefText">
                  <h3> chef name here..</h3>
              <div class="ratChef">
                  <i class="fa fa-star"></i><i class="fa fa-star"></i>
                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>      
              <div class="chefDet">
                  <div class="clearfix"><b>Experience</b>:<p> 5 Years</p></div>
                  <div class="clearfix"><b>Proficiency</b>:<p> Proficiency Text here..</p></div>
                  <div class="clearfix"><b>Menu</b>:<p class="menu">
                    <i>Menu1,</i><i>Menu1,</i><i>Menu1,</i><i>Menu1</i></p>
                </div>
              </div>
              </div>			
          </div>
        </li> 

        <li>
            <div class="chefCta clearfix">
                <div class="chefImg"><img src="../../../assets/images/chef-de.png" alt="" /></div>
                <div class="chefText">
                    <h3> chef name here..</h3>
                <div class="ratChef">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>      
                <div class="chefDet">
                    <div class="clearfix"><b>Experience</b>:<p> 5 Years</p></div>
                    <div class="clearfix"><b>Proficiency</b>:<p> Proficiency Text here..</p></div>
                    <div class="clearfix"><b>Menu</b>:<p class="menu">
                      <i>Menu1,</i><i>Menu1,</i><i>Menu1,</i><i>Menu1</i></p>
                  </div>
                </div>
                </div>			
            </div>
        </li> 

        <li>
            <div class="chefCta clearfix">
                <div class="chefImg"><img src="../../../assets/images/chef-de.png" alt="" /></div>
                <div class="chefText">
                    <h3> chef name here..</h3>
                <div class="ratChef">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>      
                <div class="chefDet">
                    <div class="clearfix"><b>Experience</b>:<p> 5 Years</p></div>
                    <div class="clearfix"><b>Proficiency</b>:<p> Proficiency Text here..</p></div>
                    <div class="clearfix"><b>Menu</b>:<p class="menu">
                      <i>Menu1,</i><i>Menu1,</i><i>Menu1,</i><i>Menu1</i></p>
                  </div>
                </div>
                </div>			
            </div>
        </li> 

        <li>
            <div class="chefCta clearfix">
                <div class="chefImg"><img src="../../../assets/images/chef-de.png" alt="" /></div>
                <div class="chefText">
                    <h3> chef name here..</h3>
                <div class="ratChef">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>      
                <div class="chefDet">
                    <div class="clearfix"><b>Experience</b>:<p> 5 Years</p></div>
                    <div class="clearfix"><b>Proficiency</b>:<p> Proficiency Text here..</p></div>
                    <div class="clearfix"><b>Menu</b>:<p class="menu">
                      <i>Menu1,</i><i>Menu1,</i><i>Menu1,</i><i>Menu1</i></p>
                  </div>
                </div>
                </div>			
            </div>
        </li> 

        <li>
            <div class="chefCta clearfix">
                <div class="chefImg"><img src="../../../assets/images/chef-de.png" alt="" /></div>
                <div class="chefText">
                    <h3> chef name here..</h3>
                <div class="ratChef">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>      
                <div class="chefDet">
                    <div class="clearfix"><b>Experience</b>:<p> 5 Years</p></div>
                    <div class="clearfix"><b>Proficiency</b>:<p> Proficiency Text here..</p></div>
                    <div class="clearfix"><b>Menu</b>:<p class="menu">
                      <i>Menu1,</i><i>Menu1,</i><i>Menu1,</i><i>Menu1</i></p>
                  </div>
                </div>
                </div>			
            </div>
        </li>           

      </ul>
    </div>

</div>