<div class="resultInn clearfix">

  <div class="resultWrap">
    <h2>Chef's involved in cooking your menu</h2>
    <ul class="">

      <li *ngFor="let chef of masterObj.filteredchefList;let index= index">
        <div class="chefCta clearfix" (click)="chefProfile(index)" *ngIf="chef != undefined">
          <div class="chefImg">
            <!-- <img src="../../../assets/images/chef-de.png" alt="" /> -->
          </div>
          <div class="chefText">
            <h3> {{ chef.Name }}</h3>
            <div class="ratChef">

              <ngb-rating [(rate)]="chef.Rating" [readonly]="true" max="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100">
                    <span class="half" [style.width.%]="fill">&#9733;</span> &#9733;
                  </span>
                </ng-template>
              </ngb-rating>
              <!-- <i class="fa fa-star" [ngClass]="chef.Rating >=1 ? 'review': ''"></i>
              <i class="fa fa-star" [ngClass]="chef.Rating >=2 ? 'review': ''"></i>
              <i class="fa fa-star" [ngClass]="chef.Rating >=3 ? 'review': ''"></i>
              <i class="fa fa-star" [ngClass]="chef.Rating >=4 ? 'review': ''"></i>
              <i class="fa fa-star" [ngClass]="chef.Rating >=5 ? 'review': ''"></i> -->
            </div>
            <div class="chefDet">
              <div class="clearfix">
                <b>Experience</b>:
                <p> {{ chef.Experience }} Years</p>
              </div>
              <!-- <div class="clearfix">
                <b>Proficiency</b>:
                <p> {{ chef.Proficiency }}..</p>
              </div> -->
              <!-- <div class="clearfix" >
                <b>Menu</b>:
                <p class="menu">
                  <i ></i>

                </p>
              </div> -->
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>

</div>
