<!--   popup's   -->
<div class="modifySearch" id="modified" #modify>

  <form [formGroup]="modifiedForm" novalidate>
    <div class="searchOut clearfix">
      <div class="searClose">
        <a (click)="onClose()">
          <i class="fa fa-close"></i>
        </a>
      </div>

      <div class="select">
        <label>{{ masterObj.selCity.City }}
          <span (click)="cityPopup()">Change</span>
        </label>
        <angular2-multiselect class="loca" [data]="masterObj.locationArr" [(ngModel)]="masterObj.searchObj.location" [settings]="settings" (onSelect)="LocationSelect($event)"
          (onDeSelect)="LocationDeSelect($event)" formControlName="location">
        </angular2-multiselect>
      </div>
      <!-- <div class="select">
        <label>Service Type</label>
        <angular2-multiselect class="loca" [data]="serviceTypeArr" [(ngModel)]="masterObj.searchObj.serviceType"
         [settings]="serTypeSettings" (onSelect)="ServiceSelect($event)"
          (onDeSelect)="ServiceDeSelect($event)" formControlName="serviceType">
        </angular2-multiselect>
      </div> -->
      <div class="atten">
        <label>Attendees -
          <b>{{ masterObj.totalAttendees }}</b> (Veg - Nonveg)</label>
        <input type="text" placeholder="000" formControlName="vegAttnd" [(ngModel)]="masterObj.searchObj.vegAttnd" (blur)="getTotal()" />
        <input type="text" placeholder="000" class="non" formControlName="nonVegAttnd" [(ngModel)]="masterObj.searchObj.nonVegAttnd" (blur)="getTotal()"
        />
      </div>
      <div class="select date">
        <label>Date - Time (24hrs format)</label>
        <input type="text" placeholder="Select Time" class="datePic" formControlName="datetime" 
        [(ngModel)]="masterObj.searchObj.datetime" [min]="min" [max]="max" (keypress)="onTime($event)"
          [owlDateTime]="dt1" hour12Timer="true" [owlDateTimeTrigger]="dt1">
        <owl-date-time #dt1 (afterPickerClosed)="selectedTime($event)"></owl-date-time>
      </div>
      <div class="select time" >
        <label>You're ordering for</label>
        <div class="session" *ngIf="masterObj.session !== ''"> {{ masterObj.session }}</div>
        <div class="session" *ngIf="masterObj.session == ''"> -- </div>
      </div>
      <div class="seaBtn">
        <input type="button" value="Search" (click)="onSearch(masterObj.searchObj)" class="seaButton" />
      </div>
    </div>
  </form>

</div>
