<div class="cartWpar cartWparRes">

  <app-order-preview></app-order-preview>
  <!-- <div class="cartOver" *ngIf="  masterObj.selectedDishes.best.length ||masterObj.selectedDishes.starter.length ||
      masterObj.selectedDishes.main.length ||masterObj.selectedDishes.biryani.length ||
    masterObj.selectedDishes.beverges.length ; else nocart">
    <div *ngIf="  masterObj.selectedDishes.best.length ">
      <h3>Best Seller</h3>
      <ul>
        <li *ngFor="let item of masterObj.selectedDishes.best;let index= index">
          <span> {{ item.dishName}} {{ getcus(item.cusines,item.restricted_ser) }}
            <i class="fa fa-close" (click)="remove(1,index)"></i>
          </span>
        </li>

      </ul>
    </div>
    <div *ngIf="  masterObj.selectedDishes.starter.length ">

      <h3>Starters</h3>
      <ul>
        <li *ngFor="let item of masterObj.selectedDishes.starter;let index= index">
          <span> {{ item.dishName}} {{ getcus(item.cusines,item.restricted_ser) }}
            <i class="fa fa-close" (click)="remove(2,index)"></i>
          </span>
        </li>
      </ul>
    </div>
    <div *ngIf="masterObj.selectedDishes.main.length ">
      <h3>Main Course</h3>
      <ul>
        <li *ngFor="let item of masterObj.selectedDishes.main;let index= index">
          <span> {{ item.dishName}} {{ getcus(item.cusines,item.restricted_ser) }}
            <i class="fa fa-close" (click)="remove(3,index)"></i>
          </span>
        </li>
      </ul>
    </div>
    <div *ngIf="masterObj.selectedDishes.biryani.length ">
      <h3>Biryani's & Rice</h3>
      <ul>
        <li *ngFor="let item of masterObj.selectedDishes.biryani;let index= index">
          <span> {{ item.dishName}} {{ getcus(item.cusines,item.restricted_ser) }}
            <i class="fa fa-close" (click)="remove(4,index)"></i>
          </span>
        </li>

      </ul>
    </div>

    <div *ngIf="masterObj.selectedDishes.beverges.length ">
      <h3>Beverges</h3>
      <ul>
        <li *ngFor="let item of masterObj.selectedDishes.beverges;let index= index">
          <span> {{ item.dishName}} {{ getcus(item.cusines,item.restricted_ser) }}
            <i class="fa fa-close" (click)="remove(5,index)"></i>
          </span>
        </li>

      </ul>
    </div>

  </div>
  <ng-template #nocart>
    <div class="cartOver">
      <h1></h1>
      <h1>Your cart is empty</h1>
    </div>
  </ng-template> -->
  <div class="foodPopBtn text-right">
    <a href="javascript:void(0)" class="foodClose" (click)="onClose()">Cancel</a>
    <a   href="javascript:void(0)" class="add" (click)="onCheckout()">Confirm the chefs</a>
  </div>
</div>
