<div class="cartWpar cartWparRes">

  <div class="cartOver">
    <h3>Starters</h3>
    <ul>
      <li *ngFor="let item of masterObj.selectedDishes">
        <span> {{ item.dishName}}
          <i class="fa fa-close" (click)="remove(item.dishId)"></i>
        </span>
      </li>

    </ul>
    <h3>Main Course</h3>
    <ul>
      <li *ngFor="let item of masterObj.selectedDishes">
        <span> {{ item.dishName}}
          <i class="fa fa-close" (click)="remove(item.dishId)"></i>
        </span>
      </li>
    </ul>
  </div>
  <div class="foodPopBtn text-right">
    <a href="javascript:void(0)" class="foodClose" (click)="onClose()">Cancel</a>
    <a  class="add" (click)="onCheckout()">Check out</a>
  </div>
</div>
