<div class="cartWpar cartWparRes">

  <div class="cartOver" *ngIf="  masterObj.selectedDishes.best.length ||masterObj.selectedDishes.starter.length ||
  masterObj.selectedDishes.main.length ||masterObj.selectedDishes.biryani.length ||
  masterObj.selectedDishes.beverges.length ; else nocart">
    <h3>Best Seller</h3>
    <ul>
      <li *ngFor="let item of masterObj.selectedDishes.best">
        <span> {{ item.dishName}}
          <i class="fa fa-close" (click)="remove(1,item.dishId)"></i>
        </span>
      </li>

    </ul>
    <h3>Starters</h3>
    <ul>
      <li *ngFor="let item of masterObj.selectedDishes.starter">
        <span> {{ item.dishName}}
          <i class="fa fa-close" (click)="remove(2,item.dishId)"></i>
        </span>
      </li>
    </ul>
    <h3>Main Course</h3>
    <ul>
      <li *ngFor="let item of masterObj.selectedDishes.main">
        <span> {{ item.dishName}}
          <i class="fa fa-close" (click)="remove(3,item.dishId)"></i>
        </span>
      </li>
    </ul>

    <h3>Biryani's & Rice</h3>
    <ul>
      <li *ngFor="let item of masterObj.selectedDishes.biryani">
        <span> {{ item.dishName}}
          <i class="fa fa-close" (click)="remove(4,item.dishId)"></i>
        </span>
      </li>

    </ul>
    <h3>Beverges</h3>
    <ul>
      <li *ngFor="let item of masterObj.selectedDishes.beverges">
        <span> {{ item.dishName}}
          <i class="fa fa-close" (click)="remove(5,item.dishId)"></i>
        </span>
      </li>

    </ul>

  </div>
  <ng-template #nocart>
    <div class="cartOver">
      <h1></h1>
      <h1>Your cat is empty</h1>
    </div>
  </ng-template>
  <div class="foodPopBtn text-right">
    <a href="javascript:void(0)" class="foodClose" (click)="onClose()">Cancel</a>
    <a class="add" (click)="onCheckout()">Check out</a>
  </div>
</div>
