<div class="filterTp clearfix">
    <div class="filBtn">
      <a href="javascript:void(0)" class="Act" (click)="onlyGoldchef()">By Golden Chefs</a>
      <a href="javascript:void(0)" (click)="onlyNonveg()" >Non-Veg</a>
    </div>
    <div class="">

      <angular2-multiselect [data]="menuList" [(ngModel)]="selectedItems" [settings]="settings" (onSelect)="menuSelect($event)"
        (onDeSelect)="menuDeSelect($event)" (onSelectAll)="SelectAll($event)" (onDeSelectAll)="DeSelectAll($event)">
      </angular2-multiselect>
    </div>
  </div>


  <p>
    <a class="modSea" (click)="openModified()">Modify your search</a>
  </p>