<div id="home"></div>
<header #head>
  <section class="headInn clearfix">
    <div class="logo">
      <a [routerLink]="'/'" class="logoImg"></a>
    </div>
    <div class="signWrap clearfix"><a (click)="openSign()">
      <span class="fa fa-user-o siIcon"></span></a>
      <span class="fa fa-bars menuIcon" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"></span>
    </div>
    <nav [ngClass]="isCollapsed ? 'show' : ''">
      <ul class="clearfix">
        <li>
          <a [ngx-scroll-to]="'#home'" [routerLink]="'/'">Home</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#howitworks'" [routerLink]="'/'">How it Works</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#about'" [routerLink]="'/'">About Us</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#choose'" [routerLink]="'/'">Choose Us</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#partner'" [routerLink]="'/'">Partners</a>
        </li>
        <li>
          <a [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </nav>
  </section>
</header>


<!-- Theme -->
<section class="careerTheme">
    <h2>Career at Caterbinge</h2>
</section>
<!-- Theme -->

<div class="careerWrap">
  <div class="careerInn">
      <h3><span>We are Hiring</span></h3>
      <p class="carWid">At Caterbinge we are shaping the future of the food catering industry using technology. Here, we are bridging the gap between chefs, suppliers, wholesalers and event managers.
        We are an on-demand food catering service, an aggregator model for chefs and a marketplace for event management individuals. We provide superior quality food by allocating best-experienced chefs around the city to master the taste of every single dish of your custom built menu, not just that we provide delicious cuisines but also assures high-quality service.
        We claim to reduce at least 25% costs of the end customers and an increase in income source of our partners by 30% as we eradicate the involvement of caterers/ agents. The cutting-edge technology involves unique algorithm proceedings to achieve prompt and accurate pricing along with the smart quantitative analysis of the users placed orders which avoids food wastage and false quotes from the chefs/ agents.
      </p>
  </div>
</div>

<div class="careerWrap bgTwo">
  <div class="careerInn clearfix">
      <h3><span>Opening Positions</span></h3>
      <div class="careerCta" (click)="openPositions()">
          <h4>Node Js Developer </h4>
          <p>For Job Description refer the contact page</p>
          <!-- <a href="javascript:void(0)">Apply</a> -->
      </div>
      <div class="careerCta">
          <h4>MEAN Stack Developer</h4>
          <p>For Job Description refer the contact page</p>
          <!-- <a href="javascript:void(0)">Apply</a> -->
      </div>
      <div class="careerCta">
          <h4>Sales Agent</h4>
          <p>For Job Description refer the contact page</p>
          <!-- <a href="javascript:void(0)">Apply</a> -->
      </div>
      <!-- <div class="careerCta">
          <h4>Jog Title text</h4>
          <p>Job Description text here..</p>
          <a href="javascript:void(0)">Apply</a>
      </div>
      <div class="careerCta">
          <h4>Jog Title text</h4>
          <p>Job Description text here..</p>
          <a href="javascript:void(0)">Apply</a>
      </div>
      <div class="careerCta">
          <h4>Jog Title text</h4>
          <p>Job Description text here..</p>
          <a href="javascript:void(0)">Apply</a>
      </div>										 -->
  </div>
</div>


<app-footer></app-footer>