<div class="estPopOut">
        <div class="estMesg">
            <h3>Mixed Selection <span>33</span></h3>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        </div>
        <div class="estPop clearfix">
            <div class="estCta clearfix">
                <span class="pull-left"><img src="../../../../assets/images/chairs.jpg" alt=""/></span>
                <b class="pull-left">Chairs</b>
                <select class="pull-left">
                    <option>Material type</option>
                    <option>Type 1</option>
                    <option>Type 2</option>
                    <option>Type 3</option>
                </select>
                <div class="pull-left">
                    <button class='down_count btn btn-info' title='Down'><i class="fa fa-minus"></i></button>
                    <input class='counter' type="text" placeholder="value..." value='1' />    
                    <button class='up_count btn btn-info' title='Up'><i class='fa fa-plus'></i></button>
                </div>
                <i class="pull-left fa fa-info" title="Title text will show here..."></i>
            </div>
            <div class="estCta clearfix">
                <span class="pull-left"><img src="../../../../assets/images/chairs.jpg" alt=""/></span>
                <b class="pull-left">Chairs</b>
                <select class="pull-left">
                    <option>Material type</option>
                    <option>Type 1</option>
                    <option>Type 2</option>
                    <option>Type 3</option>
                </select>
                <div class="pull-left">
                    <button class='down_count btn btn-info' title='Down'><i class="fa fa-minus"></i></button>
                    <input class='counter' type="text" placeholder="value..." value='1' />    
                    <button class='up_count btn btn-info' title='Up'><i class='fa fa-plus'></i></button>
                </div>
                <i class="pull-left fa fa-info" title="Title text will show here..."></i>
            </div>
            <div class="estCta clearfix">
                <span class="pull-left"><img src="../../../../assets/images/chairs.jpg" alt=""/></span>
                <b class="pull-left">Chairs</b>
                <select class="pull-left">
                    <option>Material type</option>
                    <option>Type 1</option>
                    <option>Type 2</option>
                    <option>Type 3</option>
                </select>
                <div class="pull-left">
                    <button class='down_count btn btn-info' title='Down'><i class="fa fa-minus"></i></button>
                    <input class='counter' type="text" placeholder="value..." value='1' />    
                    <button class='up_count btn btn-info' title='Up'><i class='fa fa-plus'></i></button>
                </div>
                <i class="pull-left fa fa-info" title="Title text will show here..."></i>
            </div>
            <div class="estCta clearfix">
                <span class="pull-left"><img src="../../../../assets/images/chairs.jpg" alt=""/></span>
                <b class="pull-left">Chairs</b>
                <select class="pull-left">
                    <option>Material type</option>
                    <option>Type 1</option>
                    <option>Type 2</option>
                    <option>Type 3</option>
                </select>
                <div class="pull-left">
                    <button class='down_count btn btn-info' title='Down'><i class="fa fa-minus"></i></button>
                    <input class='counter' type="text" placeholder="value..." value='1' />    
                    <button class='up_count btn btn-info' title='Up'><i class='fa fa-plus'></i></button>
                </div>
                <i class="pull-left fa fa-info" title="Title text will show here..."></i>
            </div>
            <div class="estCta clearfix">
                <span class="pull-left"><img src="../../../../assets/images/chairs.jpg" alt=""/></span>
                <b class="pull-left">Chairs</b>
                <select class="pull-left">
                    <option>Material type</option>
                    <option>Type 1</option>
                    <option>Type 2</option>
                    <option>Type 3</option>
                </select>
                <div class="pull-left">
                    <button class='down_count btn btn-info' title='Down'><i class="fa fa-minus"></i></button>
                    <input class='counter' type="text" placeholder="value..." value='1' />    
                    <button class='up_count btn btn-info' title='Up'><i class='fa fa-plus'></i></button>
                </div>
                <i class="pull-left fa fa-info" title="Title text will show here..."></i>
            </div>
            <div class="estCta clearfix">
                <span class="pull-left"><img src="../../../../assets/images/chairs.jpg" alt=""/></span>
                <b class="pull-left">Chairs</b>
                <select class="pull-left">
                    <option>Material type</option>
                    <option>Type 1</option>
                    <option>Type 2</option>
                    <option>Type 3</option>
                </select>
                <div class="pull-left">
                    <button class='down_count btn btn-info' title='Down'><i class="fa fa-minus"></i></button>
                    <input class='counter' type="text" placeholder="value..." value='1' />    
                    <button class='up_count btn btn-info' title='Up'><i class='fa fa-plus'></i></button>
                </div>
                <i class="pull-left fa fa-info" title="Title text will show here..."></i>
            </div>		
        </div>
        <div class="foodPopBtn text-right">
            <a href="javascript:void(0)" class="foodClose" (click)="onCancel()">Cancel</a>		
            <a href="javascript:void(0)" class="add" (click)="onAdd()">Add</a>
        </div>	
    </div>