<div class="cartWpar">
  <a  class="cartBtn">Proceed to Checkout</a>
  <div class="cartOver">
    <h3>Starters</h3>
    <ul>
      <li *ngFor="let item of masterObj.selectedDishes">
        <span> {{ item.dishName}}
          <i class="fa fa-close" (click)="remove(item.dishId)"></i>
        </span>
      </li>

    </ul>
    <h3>Main Course</h3>
    <ul>
      <li *ngFor="let item of masterObj.selectedDishes">
        <span> {{ item.dishName}}
          <i class="fa fa-close" (click)="remove(item.dishId)"></i>
        </span>
      </li>
    </ul>
  </div>

  <div class="note" (click)="onCommentPopup()">
    <span>Comments..</span>
    <i class="fa fa-comment-o"></i>
  </div>

<!-- <div class="notePop">
  <textarea placeholder="Your Text here.."></textarea>
  <div class="foodPopBtn text-right">
    <a href="javascript:void(0)" class="foodClose">Cancel</a>
    <a href="javascript:void(0)" class="add">Save</a>
  </div>
</div>  -->
  <!-- <ng-template #comment>
      <div class="notePop">
          <textarea placeholder="Your Text here.."></textarea>
          <div class="foodPopBtn text-right">
            <a href="javascript:void(0)" class="foodClose" (click)="onCancel()">Cancel</a>
            <a href="javascript:void(0)" class="add" (click)="onSave()">Save</a>
          </div>
      </div>
  </ng-template> -->
  
</div> 
