<div class="cartWpar">
  <a  class="cartBtn">Proceed to Checkout</a>
  <div class="cartOver">
    <h3>Starters</h3>
    <ul>
      <li *ngFor="let item of masterObj.selectedDishes">
        <span> {{ item.Name}}
          <i class="fa fa-close" (click)="remove(item.Id)"></i>
        </span>
      </li>

    </ul>
    <h3>Main Course</h3>
    <ul>
      <li *ngFor="let item of masterObj.selectedDishes">
        <span> {{ item.Name}}
          <i class="fa fa-close" (click)="remove(item.Id)"></i>
        </span>
      </li>
    </ul>
  </div>
  <!--<h4>For plate <span>560.00</span></h4>	-->
  <div class="note" (click)="onNotePopup()">
    <span>Comments..</span>
    <i class="fa fa-comment-o"></i>
  </div>
</div>

<div class="notePop">
  <textarea placeholder="Your Text here.."></textarea>
  <div class="foodPopBtn text-right">
    <a href="javascript:void(0)" class="foodClose">Cancel</a>
    <a href="javascript:void(0)" class="add">Save</a>
  </div>
</div>
