<!-- SignIn -->

<section class="signPop clearfix" id="signPop">
	<span class="fa fa-times closePop" (click)="onClose()"></span>
	<div class="signImg" id="slideshow">
	<ngb-carousel>
		<ng-template ngbSlide>
			<img src="../assets/images/sign-1.jpg" alt="Random first slide">
		</ng-template>
		<ng-template ngbSlide>
			<img src="../assets/images/sign-3.jpg" alt="Random second slide">
		</ng-template>
		<ng-template ngbSlide>
			<img src="../assets/images/sign-2.jpg" alt="Random third slide">
		</ng-template>
	</ngb-carousel>
	</div>

	<!-- <div class="signImg" id="slideshow">
		<div class="sldImg"><img src="../assets/images/sign-1.jpg" alt=""/></div>
		<div class="sldImg"><img src="../assets/images/sign-3.jpg" alt=""/></div>
		<div class="sldImg"><img src="../assets/images/sign-2.jpg" alt=""/></div>
	</div> -->

	<div class="signPopInn" id="signIn" #signIn>
		<div class="signIn">
			<h2>Sign in</h2>
			<p>Not registered? <a href="javascript:void(0)" id="siup" (click)="showsignup()">sign up</a></p>

			<form [formGroup]="signInForm" class="form-horizontal" (ngSubmit)="onsignIn()" novalidate>
			<div class="signFiled">

				<div class="md-form1">
				<input type="email" class="sinput  mail" placeholder="Email" [ngClass]="{'validate': showRequiredFieldError('email') }" formControlName="email"/>
				<em *ngIf="showRequiredFieldError('email')">Email is required</em>
				</div>

				<div class="md-form2">
				<input type="password" class="sinput pass" placeholder="Password" [ngClass]="{'validate': showRequiredFieldError('password') }" formControlName="password"/>
				<em *ngIf="showRequiredFieldError('password')">Password is required</em>
				</div>

				<b id="foPas"><a href="javascript:void(0)" (click)="showforgot()">Forgot Password</a></b>
				<button class="siBtn" [disabled]="loading">Sign In</button>
			</div>
			</form>
			<h4><i>(OR)</i></h4>
			<div class="fbGo clearfix">
				<a href="javascript:void(0)" class="fb"><i class="fa fa-facebook"></i> facebook</a>
				<a href="javascript:void(0)" class="gp"><i class="fa fa-google-plus"></i> Google</a>
			</div>
		</div>
  </div> 

  <!-- SignUp -->
  
  <div class="signPopInn" id="signUp" #signUp>
	<div class="signIn signUp">
		<h2>Sign Up</h2>
		<p>Already  registered? <a href="javascript:void(0)" id="siIn" (click)="showsignin()">sign In</a></p>

		<form [formGroup]="signUpForm" class="form-horizontal" (ngSubmit)="onsignUp()" novalidate>
		<div class="signFiled">
		
			<div class="md-form1">
			  <input type="text" class="sinput" placeholder="Full Name" [ngClass]="{'validate': showRequiredFieldError('username') }" formControlName="username"/>
			  <em *ngIf="showRequiredFieldError('username')">Name is required</em>
			</div>

			<div class="md-form2">
			  <input type="text" class="sinput  mail" placeholder="Email" [ngClass]="{'validate': showRequiredFieldError('email') }" formControlName="email"/>
			  <em *ngIf="showRequiredFieldError('email')">Email is required</em>
			</div>

			<div class="md-form3">
			  <input type="text" class="sinput  phone" placeholder="Phone" [ngClass]="{'validate': showRequiredFieldError('phone') }" formControlName="phone"/>
			  <em *ngIf="showRequiredFieldError('phone')">Phone Number is required</em>
			</div>
			
			<div class="md-form3">
			  <input type="password" class="sinput  pass" placeholder="Password" 
			  [ngClass]="{'validate': showRequiredFieldError('password') }" formControlName="password"/>
			  <em *ngIf="showRequiredFieldError('password')">Password is required</em>
			  <em *ngIf="signUpForm.get('password').errors?.pattern"> Password shoud contain atlease One capital ,One special charachter and number</em>
			</div>

			<div class="md-form3">
			  <input type="password" class="sinput  pass" placeholder="Confirm Password"
			   [ngClass]="{'validate': showRequiredFieldError('confirmPassword') }" formControlName="confirmPassword"/>
			  <em *ngIf="showRequiredFieldError('confirmPassword')">Confirm Password is required</em>
			  <!-- <em *ngIf="signUpForm.get('confirmPassword').errors?.pattern">Password and Confirm Password must be same</em> -->
			  <em *ngIf="comparePasswords()">Password and Confirm Password must be same</em>
			</div>
			
			<div class="termTxt">By Signing up you will agree <a href="" [routerLink]="['/terms']" target="_blank">Terms</a> and <a href="" [routerLink]="['/privacy']" target="_blank">Policy</a></div>
			<button class="siBtn" [disabled]="loading">Sign Up</button>

			<em *ngIf="errMsg != ''">{{ errMsg }}</em>
		</div>
		</form>
		<h4><i>(OR)</i></h4>
		<div class="fbGo clearfix">
			<a href="javascript:void(0)" class="fb"><i class="fa fa-facebook"></i> facebook</a>
			<a href="javascript:void(0)" class="gp"><i class="fa fa-google-plus"></i> Google</a>
  </div>
</div>
</div>	

<!-- Forgot Password -->

<div class="signPopInn" id="forgotPass" #forgot>
	<div class="signIn forgotPass">
	  <h2>Forgot Password</h2>
	  <form [formGroup]="forgotForm" class="form-horizontal" (ngSubmit)="onForgot()" novalidate>
	  <div class="signFiled">
		<div class="md-form1">
		<input type="email" class="sinput  mail" placeholder="Email" [ngClass]="{'validate': showRequiredFieldError('email') }" formControlName="email"/>
		<em *ngIf="showRequiredFieldError('email')">Email is required</em>
		</div>
		<button class="siBtn">Submit</button>
		<div class="forback"><a (click)="onBack()"><i class="fa fa-arrow-left"></i>Back</a></div>
	  </div>
	  </form>
	</div>
</div> 
</section>


<!-- 
<section class="signPop clearfix">
	<span class="fa fa-times closePop"></span>
	<div class="signImg" id="slideshow">
		<div class="sldImg"><img src="./assets/images/sign-1.jpg" alt=""/></div>
		<div class="sldImg"><img src="./assets/images/sign-3.jpg" alt=""/></div>
		<div class="sldImg"><img src="./assets/images/sign-2.jpg" alt=""/></div>
	</div>
	
	<div class="signPopInn" #signIn>
		<div class="signIn">
			<h2>Sign in</h2>
			<p>Not registered? <a href="javascript:void(0)" id="siup">sign up</a></p>
			<div class="signFiled">
				<input type="text" class="sinput" placeholder="User Name" />
				<input type="password" class="sinput pass" placeholder="Password" />
				<b id="foPas">Forgot Password</b>
				<button class="siBtn">Sign In</button>
			</div>
			<h4><i>(OR)</i></h4>
			<div class="fbGo clearfix">
				<a href="javascript:void(0)" class="fb"><i class="fa fa-facebook"></i> facebook</a>
				<a href="javascript:void(0)" class="gp"><i class="fa fa-google-plus"></i> Google</a>
			</div>
		</div>
	</div>
	
	<div class="signPopInn" #forgotPass>
		<div class="signIn forgotPass">
			<h2>Forgot Password</h2>
			<div class="signFiled">
				<input type="text" class="sinput mail" placeholder="Email" />
				<button class="siBtn">Submit</button>
				<div class="forback"><i class="fa fa-arrow-left"></i>Back</div>
			</div>
		</div>
	</div>	
	
	<div class="signPopInn" #signUp>
		<div class="signIn signUp">
			<h2>Sign Up</h2>
			<p>Already  registered?  <a href="javascript:void(0)" id="siIn">sign In</a></p>
			<div class="signFiled">
				<input type="text" class="sinput" placeholder="Full Name" />
				<input type="text" class="sinput mail" placeholder="Email" />
				<input type="text" class="sinput phone" placeholder="Phone" />
				<input type="password" class="sinput pass" placeholder="Password" />
				<input type="password" class="sinput pass" placeholder="Confirm Password" />
				<div class="termTxt">By Signing up you will agree <a href="terms.html" target="_blank">Terms</a> and <a href="privacy.html" target="_blank">Policy</a></div>
				<button class="siBtn">Sign Up</button>
			</div>
			<h4><i>(OR)</i></h4>
			<div class="fbGo clearfix">
				<a href="javascript:void(0)" class="fb"><i class="fa fa-facebook"></i> facebook</a>
				<a href="javascript:void(0)" class="gp"><i class="fa fa-google-plus"></i> Google</a>
			</div>
		</div>
	</div>	
</section> 
 -->
