<div id="home"></div>
<header  class="staticHead scrollAct">
  <section class="headInn clearfix">
    <div class="logo">
      <a [routerLink]="'/'" class="logoImg"></a>
    </div>

    <div class="nav-item dropdown" ngbDropdown>

    <div class="signWrap clearfix"><a ngbDropdownToggle>
      <span class="fa fa-user-o siIcon"></span></a>
      <span class="fa fa-bars menuIcon"></span>
    </div>
    <div class="logInInn" ngbDropdownMenu>
        <a href="" routerLink="/profile">Profile</a>
        <a href="" routerLink="/orders">Orders</a>
        <a href="javascript:void(0)" class="logout">Log Out</a>
    </div>
    
    </div>

    <nav>
      <ul class="clearfix">
        <li>
          <a [ngx-scroll-to]="'#home'" [routerLink]="'/'"  class="Act">Home</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#howitworks'" [routerLink]="'/'">How it Works</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#about'" [routerLink]="'/'">About Us</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#choose'" [routerLink]="'/'">Choose Us</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#partner'" [routerLink]="'/'">Partners</a>
        </li>
        <li>
          <a [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </nav>
  </section>
</header>

<section class="profileOut">
    <div class="profileWrap">
        <div class="profileTabs">
            <a href="" class="" routerLinkActive="Act" routerLink="/profile">Profile</a>
            <a href="" routerLinkActive="Act" routerLink="/orders">Orders</a>
        </div>
        
        <router-outlet></router-outlet>

    </div>
</section>        


<app-footer></app-footer>