<app-chef-list></app-chef-list>

<div class="responsiveCart">
  <!-- <div class="resPro">Total {{ masterObj.totalCost }}</div> -->
  <!-- <div class="resPro" (click)="openPromo()">Have a Promo code</div> -->
  <div class="clearfix">
    <a (click)="onproceed()" class="resBtn">
      <span>{{ masterObj.selectedDishArr.length }}</span>Proceed to confirm Event manager </a>
    <a href="javascript:void(0)" class="resCart" (click)="opencat()">
      <span>{{ masterObj.selectedDishArr.length }}</span>
      <img src="./assets/images/cart.svg" alt="" />
    </a>
    <a href="javascript:void(0)" class="resCom" (click)="onCommentPopup()">
      <img src="./assets/images/commenting.svg" alt="" />
    </a>
  </div>
</div>
