/* You can add global styles to this file, and also import other style files */


/* @import "./assets/css/bootstrap.min.css"; */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./assets/css/font-awesome.min.css";
@import "./assets/css/cbstyle.css";
@import "./assets/css/cbstyle-responsive.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

/* @import "./assets/css/category-menu.scss"; */


/* Validations */

em {
    float: left;
    color: #E05C;
    padding: 0 0 7px 9px;
    font-size: 12px;
}

html [type=button],
a {
    cursor: pointer;
}


button {
    cursor: pointer;
}

.review {
    color: #ffa200;
}


/* counter  */

.bar {
    transition: width 0.5s;
    background-color: green;
    overflow: hidden;
}


/* Footer Additional */


/* 
.seqHome {
    background-color: transparent;
    width: 100%;
    display: block;
    margin: 0px auto;
}

.seqHome ul {
    margin: 0px auto;
    width: 1200px;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 15px 20px;
}

.seqHome ul li {
    list-style-type: none;
    float: left;
    width: 16%;
}

.seqHome ul li img {
    float: left;
    width: 55px;
    padding: 0px 10px 0px 0px;
}

.seqHome ul li p {
    float: left;
    width: 60%;
    font-size: 13px;
    font-weight: 500;
    color: #787878;
    padding: 5px 0px 0px 0px;
} */


/* Footer Additional */

.cdk-overlay-container {
    z-index: 10000;
}


/* datepicker */

.owl-dt-container {
    font-size: 16px !important;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-content {
    color: #6a6666c7 !important;
}

.owl-dt-timer {
    color: #6a6666c7 !important;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    color: rgb(243, 243, 243) !important;
    background-color: #73c89c;
}


/* multi selection drop dow */

.selected-list .c-btn {
    width: 100%;
    box-shadow: 0px 0px 0px #fff !important;
    padding: 10px;
    cursor: pointer;
    display: flex;
    position: relative;
}

.c-btn {
    display: inline-block;
    background:inherit !important;
    border: 0px solid #ccc !important;
    border-radius: 3px;
    font-size: 14px;
    color: #12b396 !important;
}

.selected-list .c-list .c-token {
    background: #fff !important;
    color: #6a6666c7 !important;
    border-radius: 40px !important;
    border: 1px solid #ddd !important;
}

.selected-list .c-list .c-remove svg {
    fill: #6a6666c7 !important;
    color: #6a6666c7 !important;
}


/* Comments */

.modal-dialog {
    max-width: fit-content;
    margin: 1.75rem auto;
}

.modal.show .modal-dialog {
    -webkit-transform: inherit;
    padding: 40px;
}


/* Comments */


/* Popup's padding */

.chPopWrap {
    padding: none !important;
}


/* Add More */

.estMesg {
    font-size: 14px;
    font-weight: 400;
    color: #686767;
    padding: 0px 0px 15px;
}

.estMesg h3 {
    padding: 0px 0px 8px;
    margin: 0px 0px;
    font-size: 18px;
    font-weight: 500;
    color: #666;
}

.down_count {
    margin-right: -4px;
    height: 32px;
    padding: 0px 0px;
    border-top-right-radius: 0px;
    background-color: #f9f9f9;
    color: #0fab8f;
    border: 1px solid #0fab8f;
    border-bottom-right-radius: 0px;
}

.down_count i {
    padding: 3px 0px;
    color: #0fab8f;
    font-size: 14px;
}

.counter {
    width: 32px;
    height: 32px;
    border: 1px solid #0fab8f;
    position: relative;
    top: 2px;
    border-radius: 0px !important;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #454545;
}

.up_count {
    margin-left: -5px;
    widows: 30px;
    height: 32px;
    padding: 0px 0px;
    border-top-left-radius: 0px;
    background-color: #f9f9f9;
    color: #0fab8f;
    border: 1px solid #0fab8f;
    border-bottom-left-radius: 0px;
}

.up_count i {
    padding: 3px 0px;
    color: #0fab8f;
    font-size: 14px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}


/* Add More */


/* Profile Dropdown */

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    position: relative;
    z-index: 100000;
    float: right;
}


/* Profile Dropdown */


/* mobile cart */

.resCart span {
    /* display: none; */
    padding: 0px 19px;
    color: #057e68;
    border-radius: 4px;
    margin: 0px 12px 0p;
    position: absolute;
    /* z-index: 100000; */
    margin: -7px;
}


/* Change Password */

.userDetails h2 {
    padding: 0px 0px 8px;
    margin: 0px 0px 5px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
    font-weight: 500;
    color: #666;
}


/* about */

.backWhite {
    background-color: #fff;
}


/* positions */

.careerForm {
    position: static !important;
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    float: none;
}


/* Validations Error */

.addfild.ng-invalid {
    border-left: 5px solid red;
}

.required:after,
.form-control.ng-invalid {
    content: " *";
    color: red;
}

.cartBtn a {
    color: white;
}