<!-- <app-header #shead></app-header> -->
<div id="home"></div>
<header  class="staticHead scrollAct">
  <section class="headInn clearfix">
    <div class="logo">
      <a href="index.html"  class="logoImg"></a>
    </div>
    <div class="signWrap clearfix">
      <span class="fa fa-user-o siIcon"></span>
      <span class="fa fa-bars menuIcon"></span>
    </div>
    <nav>
      <ul class="clearfix">
        <li>
          <a [ngx-scroll-to]="'#home'" [routerLink]="'/'"  class="Act">Home</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#howitworks'" [routerLink]="'/'">How it Works</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#about'" [routerLink]="'/'">About Us</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#choose'" [routerLink]="'/'">Choose Us</a>
        </li>
        <li>
          <a [ngx-scroll-to]="'#patner'" [routerLink]="'/'">Patners</a>
        </li>
        <li>
          <a>Contact</a>
        </li>
      </ul>
    </nav>
  </section>
</header>
<section class="resultOut">
  <app-menu></app-menu>
  <app-result-view></app-result-view>
</section>

<app-footer></app-footer>


