<!-- Footer -->
<footer class="resFootHide">
  <div class="footInn clearfix">
    <div class="footLogo">
      <img src="../../../assets/images/logofull.png" alt="" />
    </div>
    <div class="footMenu">
      <a href="" [routerLink]="['/about']">About Us</a>
      <a href="" [routerLink]="['/career']">Careers</a>
      <a href="" [routerLink]="['/contact']">Contact Us</a>
      <a href="" [routerLink]="['/terms']">Terms & Conditions</a>
      <!-- <a href="" [routerLink]="['/privacy']">Privacy Policy</a> -->
    </div>
    <div class="social">
      <a href="javascript:void(0)">
        <img src="../../../assets/images/fb.png" alt="" />
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/images/tw.png" alt="" />
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/images/int.png" alt="" />
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/images/pin.png" alt="" />
      </a>
    </div>
  </div>

  <!-- <section class="seqHome">
  <ul class="clearfix">
    <li class="clearfix">
      <img src="../../../assets/images/whycho-2.png" alt=""/>
      <p>Taste Assured Food Safety</p>
    </li>
    <li class="clearfix">
      <img src="../../../assets/images/seq2.png" alt=""/>
      <p>Secure Payment</p>
    </li>	    
    <li class="clearfix">
      <img src="../../../assets/images/seq1.png" alt=""/>
      <p>24hrs free Cancellation</p>
    </li>
    <li class="clearfix">
      <img src="../../../assets/images/seq5.png" alt=""/>
      <p>100% Halal Food</p>
    </li>		
    <li class="clearfix">
      <img src="../../../assets/images/seq3.png" alt=""/>
      <p>Certified Professionals</p>
    </li>
    <li class="clearfix">
      <img src="../../../assets/images/seq4.png" alt=""/>
      <p>Cash Back Guarantee </p>
    </li>	    	    	    	    
  </ul>
</section>	

<div class="copyRight">
  &copy; Caterbinge 2018. All Rights Reserved
</div> -->



  <section class="seqHome">
    <ul class="clearfix">
      <li class="clearfix">
        <img src="./assets/images/whycho-2.png" alt="" />
        <p>Taste Assured Food Safety</p>
      </li>
      <li class="clearfix">
        <img src="./assets/images/seq2.png" alt="" />
        <p>Secure Payment</p>
      </li>
      <li class="clearfix">
        <img src="./assets/images/seq1.png" alt="" />
        <p>24hrs free Cancellation</p>
      </li>
      <li class="clearfix">
        <img src="./assets/images/seq5.png" alt="" />
        <p>100% Halal Food</p>
      </li>
      <li class="clearfix">
        <img src="./assets/images/seq3.png" alt="" />
        <p>Certified Professionals</p>
      </li>
      <li class="clearfix">
        <img src="./assets/images/seq4.png" alt="" />
        <p>Cash Back Guarantee </p>
      </li>
    </ul>
  </section>

  <div class="copyRight">
    &copy; Caterbinge 2018. All Rights Reserved
  </div>
</footer>
