<div class="orderWrap">
    <div class="orderHead clearfix">
        <span>ODR546265556515</span>
        <ul class="clearfix">
            <li>Order Total<b>25000</b></li>
            <li>Paid<b>10000</b></li>
            <li>Balance<b>15000</b></li>
            <li><a href=""  routerLink="/payment">Pay Now</a></li>
        </ul>
    </div>
    <div class="orderCta clearfix">
        <div class="orderMenu">
            <span>Ordered Menu :</span>
            <p><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i></p>
        </div>
        <div class="orderMenu">
            <span>Chefs :</span>
            <p><i>Chef Name,</i><i>Chef Name,</i><i>Chef Name,</i><i>Chef Name,</i><i>Chef Name,</i><i>Chef Name,</i><i>Chef Name,</i></p>
            <span>Event Manager :</span>
            <p><i>Event Manager Name</i></p>
        </div>	
        <div class="orderMenu">
            <span>Address :</span>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
            <span>Order Date : <b>28-08-2018</b></span>
            <span>Delivery Date : <b>10-09-2018</b></span>
        </div>												
    </div>
</div>

<div class="orderWrap">
    <div class="orderHead clearfix">
        <span>ODR546265556515</span>
        <ul class="clearfix">
            <li>Order Total<b>25000</b></li>
            <li>Paid<b>10000</b></li>
            <li>Balance<b>15000</b></li>
            <li><a href="" routerLink="/payment">Pay Now</a></li>
        </ul>
    </div>
    <div class="orderCta clearfix">
        <div class="orderMenu">
            <span>Ordered Menu :</span>
            <p><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i><i>Menu Item,</i></p>
        </div>
        <div class="orderMenu">
            <span>Chefs :</span>
            <p><i>Chef Name,</i><i>Chef Name,</i><i>Chef Name,</i><i>Chef Name,</i><i>Chef Name,</i><i>Chef Name,</i><i>Chef Name,</i></p>
            <span>Event Manager :</span>
            <p><i>Event Manager Name</i></p>
        </div>	
        <div class="orderMenu">
            <span>Address :</span>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
            <span>Order Date : <b>28-08-2018</b></span>
            <span>Delivery Date : <b>10-09-2018</b></span>
        </div>												
    </div>
</div>

